<table class="table_index">
    <% if @usuarios.blank? %>
        <tr>
            <td colspan="2" class="nao_ha_registros">
                Não há registros
            </td>
        </tr>
    <% else %>
        <div class="br_25" style="width:98%; background-color: #fff; margin:1%; padding: 1%; border: 2px solid #592a80;">
            <div class="text-center display_block" style="color: #592a80;  font-size: 25px; font-weight: bold; width:81%; padding-left: 12%">Usuários</div>
            <%= link_to 'Novo registro', new_usuario_path, class:'btn btn-outline-success display_block br_25 btn-width-default', style:'width:14%; vertical-align: top;' %></div>
        </div>
        <thead>
            <tr>
                <th class="tr_table_index text-center">ID</th>
                <th class="tr_table_index text-center">Nome</th>
                <th class="tr_table_index text-center">login</th>
                <th class="tr_table_index text-center">Email</th>
                <th class="tr_table_index text-center">Telefone</th>
                <th class="tr_table_index text-center">Admin</th>
            </tr>
        </thead>
        <tbody>          
            <% @usuarios.each do |usuario| %>
                <tr class="<%= cycle("odd", "even") -%>">
                    <td class="text-center width-60px"> <%= usuario.id %> </td>
                    <td class="width-150px"> <%= link_to usuario.nome, usuario_path(usuario), class: 'link-azul' %> </td>
                    <td class="width-150px"> <%= usuario.login %> </td>
                    <td class="width-150px"> <%= usuario.email %> </td>
                    <td class="width-150px"> <%= usuario.telefone %> </td>
                    <td class="text-center width-60px"> <%= usuario.admin ? 'sim' : 'não' %> </td>
                </tr>
            <% end %>
        </tbody>
    <% end %>
</table>