<div class="text-center fs_20px m_15px"> Visualizando: <span class="titulo_system"><%= @usuario.nome %></span> </div>
<hr class="width_80por">
<div class="width_100por text-center">
    <%= link_to 'Editar', edit_usuario_path(@usuario.id), class:'btn btn-outline-dark br_25 btn-width-default' %>
    <%= link_to 'Novo registro', new_usuario_path(), class:'btn btn-outline-success br_25 btn-width-default' %>
</div>
<hr class="width_80por">
<table class="tabela-lado-lado width_80por">
    <tbody>
        <tr>
            <td class="text-right width_355px"> Nome: </td>
            <td class="pl_10px"> <%= @usuario.nome %> </td>
        </tr>
        <tr>
            <td class="text-right width_355px"> Login: </td>
            <td class="pl_10px"> <%= @usuario.login %> </td>
        </tr>
        <tr>
            <td class="text-right width_355px"> Email: </td>
            <td class="pl_10px"> <%= @usuario.email %> </td>
        </tr>
        <tr>
            <td class="text-right width_355px"> Telefone: </td>
            <td class="pl_10px"> <%= @usuario.telefone %> </td>
        </tr>
        <tr>
            <td class="text-right width_355px"> Administrador: </td>
            <td class="pl_10px"> <%= @usuario.admin ? 'Sim' : 'Não'  %> </td>
        </tr>
    </tbody>
</table>